@import "../../../styles/variables.scss";

.search-results__title {
  text-align: center;
  text-transform: uppercase;
  color: $ui-color;
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.search-results__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results__item {
  width: 100%;
}

.search-results__item:not(:last-child) {
  margin-bottom: 50px;
}

.search-result__not-found {
  color: $ui-color;
  font-size: 32px;
  text-align: center;
}
