@import "../../../styles/variables.scss";

.add-task-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 26px;
  font-size: 22px;
  color: #00ffff;

  background-color: $ui-color;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.2s all;

  @media (max-width: $tablet-width) {
    padding: 18px 24px;
    font-size: 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 22px;
    font-size: 18px;
  }
}

.add-task-button:active {
  transform: scale(0.98);

  font-size: 22px;

  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

  @media (max-width: $tablet-width) {
    font-size: 20px
  }
}


.add-task-button__icon {
  margin-right: 5px;

  fill: #00ffff;

  @media (max-width: $mobile-width) {
    display: none;
  }
}
